<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ site.baseurl }}">Home</a></li>
    <li class="nav-development" role="menuitem"><a href="{{ site.baseurl }}development/">Development</a></li>
    <li class="nav-oss" role="menuitem"><a href="{{ site.baseurl }}oss/">OSS</a></li>
    <li class="nav-db" role="menuitem"><a href="{{ site.baseurl }}db/">DB</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{ site.baseurl }}etc/">이것저것</a></li>
    <li class="nav-aboutme" role="menuitem"><a href="{{ site.baseurl }}author/ykss/">About Me</a></li>
</ul>
