<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ site.baseurl }}">Home</a></li>
    <li class="nav-development" role="menuitem"><a href="{{ site.baseurl }}development/">Development</a></li>
    <li class="nav-db" role="menuitem"><a href="{{ site.baseurl }}db/">DB</a></li>
    <li class="nav-oss" role="menuitem"><a href="{{ site.baseurl }}oss/">OSS</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{ site.baseurl }}etc/">이것저것</a></li>
    <!-- <li class="nav-algorithm" role="menuitem"><a href="{{ site.baseurl }}algorithm/">Algorithm</a></li> -->
    <li class="nav-tech" role="menuitem"><a href="{{ site.baseurl }}tech/">Tech</a></li>
    <li class="nav-dart" role="menuitem"><a href="{{ site.baseurl }}TIL/">TIL</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
