---
layout: default
title: 안녕하세요?
class: author-template
published: true
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->
{% for author in site.data.authors %}
    {% if author[1].username == page.author %}
    <header class="site-header outer {% if author[1].cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if author[1].cover %}{{ author[1].cover }}{% elsif page.cover %}{{ page.cover }}{% endif %}) {% else %}no-cover{% endif %}">
        <div class="inner">
            {% include site-nav.html %}
            <div class="site-header-content">
                {% if author[1].picture %}
                    <img class="author-profile-image" src="{{ site.baseurl }}{{ author[1].picture }}" alt="{{ page.author }}" />
                {% endif %}
                <h1 class="site-title">{{ author[1].name }}</h1>
                {% if author[1].bio %}
                    <h2 class="author-bio">{{ author[1].bio }}</h2>
                {% endif %}
                <div class="author-meta">
                    {% if author[1].location %}
                        <div class="author-location">{{ author[1].location }} <span class="bull">&bull;</span></div>
                    {% endif %}
                    <div class="author-stats">
                        {% if paginator.total_posts == 0 %}글 없음{% else %}글 {{ paginator.total_posts }}개{% endif %} <span class="bull">&bull;</span>
                    </div>
                    <span itemscope itemtype="http://schema.org/Person">
                        <link itemprop="url" href="https://www.jihunroh.kr">
                    {% if author[1].url %}
                        <a class="social-link social-link-wb" href="{{ author[1].url_full }}" rel="noopener">{% include website.html %}</a>
                    {% endif %}
                    {% if author[1].twitter %}
                        <a class="social-link social-link-tw" href="https://twitter.com/{{ author[1].twitter }}" rel="noopener">{% include svg/twitter.html %}</a>
                    {% endif %}
                    {% if author[1].facebook %}
                        <a itemprop="sameAs" class="social-link social-link-fb" href="https://facebook.com/{{ author[1].facebook }}" rel="noopener">{% include svg/facebook.html %}</a>
                    {% endif %}
                    {% if author[1].linkedin %}
                        <a itemprop="sameAs" class="social-link social-link-ln" href="https://linkedin.com/in/{{ author[1].linkedin }}" rel="noopener">{% include svg/linkedin.html %}</a>
                    {% endif %}
                    {% if author[1].github %}
                        <a class="social-link social-link-gh" href="https://github.com/{{ author[1].github }}" rel="noopener">{% include svg/github.html %}</a>
                    {% endif %}
                    {% if author[1].telegram %}
                        <a class="social-link social-link-te" href="https://telegram.me/{{ author[1].telegram }}" rel="noopener">{% include svg/telegram.html %}</a>
                    {% endif %}
                    {% if author[1].email %}
                        <a class="social-link social-link-email" href="mailto:&#106;&#105;&#104;&#117;&#110;&#114;&#111;&#104;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#107;&#114;" rel="noopener">{% include svg/email.html %}</a>
                    {% endif %}

                    <a class="social-link social-link-rss" href="{{ site.url }}{{ site.baseurl }}{{site.feed.path}}" rel="noopener">{% include svg/rss.html %}</a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    {% endif %}
{% endfor %}
<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div id="search-result" style="display: none;"></div>

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>

    </div>
</main>
